.vacanciesPage {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding-top: 80px;
}

.heroSection {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 4vw;
  margin-top: 20px;
  margin-bottom: 6vh;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.titleLine {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  font-family: "RockStar", sans-serif;
  font-weight: 400;
  font-size: 100px;
  text-align: justify;
  line-height: 1;
  padding-top: 12px;
  border-bottom: 1px solid #fff;
  width: 100%;
  color: #fff;
}

.titleLine:nth-child(3) .title {
  border-bottom: none;
}

.textSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  margin-left: auto;
  max-width: 413px;
}

.textBlock {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
}

.textBlock p {
  margin: 0;
}




